In [13]:
import numpy as np
import pandas as pd

In [14]:
train = pd.read_csv('train_data.csv')

In [15]:
train.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [16]:
train.shape

(7160, 14)

In [17]:
train.isnull().any()

Customer Id           False
YearOfObservation     False
Insured_Period        False
Residential           False
Building_Painted      False
Building_Fenced       False
Garden                 True
Settlement            False
Building Dimension     True
Building_Type         False
Date_of_Occupancy      True
NumberOfWindows       False
Geo_Code               True
Claim                 False
dtype: bool

In [18]:
train.drop(['Geo_Code','Building Dimension','Garden','Customer Id'],1, inplace=True)

In [19]:
train.head()

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Settlement,Building_Type,Date_of_Occupancy,NumberOfWindows,Claim
0,2013,1.0,0,N,V,U,1,1960.0,.,0
1,2015,1.0,0,V,N,R,1,1850.0,4,0
2,2014,1.0,0,N,V,U,1,1960.0,.,0
3,2013,1.0,0,V,V,U,1,1960.0,.,0
4,2014,1.0,0,V,N,R,1,1800.0,3,0